.general__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

.general__info-heading {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.general__info-data {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #4e4f5c;
  background-color: #FEFCEF;
}

a {
  text-decoration: none;
}

input, button {
  border-radius: 3px;
  border: 1px solid #dcdef7;
  background-color: #fff;
}

a:focus, input:focus, button:focus {
  outline-color: #dcdef7;
}

section {
  margin: 0 auto;
  max-width: 900px;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.countries__header {
  background-color: #6163a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countries__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  max-width: 900px;
}

.countries__header-title {
  font-weight: 500;
  color: #fff;
}

.countries__header-btn {
  padding: .4em .6em;
  font-size: 1.2rem;
  border-radius: 4px;
  color: #4e4f5c;
  background-color: #fff;
}

.search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 40px 10px;
  max-width: 900px;
}

.search__box-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  width: 80%;
}

.search__box-main-input {
  display: block;
  width: 100%;
  padding: .8em .6em;
}

.search__box-range-title {
  margin-bottom: 30px;
}

.search__box-range-min, .search__box-range-max {
  width: 45%;
  padding: .6em;
}

.search__box-range-min {
  margin-right: 20px;
}

.search__box-range-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: .4em .8em;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #6163a0;
  cursor: pointer;
}

.countries__table {
  margin: 0 auto;
  border-collapse: collapse;
}

.countries__table-head {
  padding: 0 10px;
  font-size: 1.2rem;
}

.countries__table-flag {
  background-color: #FEFCEF;
}

.countries__table-flag-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 35px;
}

.sortable {
  cursor: pointer;
}

.th-sort-asc::after {
  content: "\2191";
}

.th-sort-desc::after {
  content: "\2193";
}

.th-sort-asc::after, .th-sort-desc::after {
  margin-left: 5px;
}

tr:nth-child(even) {
  background-color: #fff;
}

td {
  text-align: center;
  padding: 10px;
  width: 100px;
}

thead {
  height: 60px;
  background-color: #6163a0;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */